<div class="container-fluid">
  <!-- invoice  -->
  <div class="container ">
    <!-- invoice -->
    <div class="row mt-5">
      <iframe class="col-10 m-auto invo shadow py-3" [src]="safeUrl" frameborder="1"></iframe>
    </div>
    <!-- buttons -->
    <div class="row my-2">
      <div class=" col mb-4 navigation">
        <button class="btn btn-light" (click)="fnApv()">Approve</button>
        <button class="btn btn-light" (click)="fnDeny()">Deny</button>
      </div>
    </div>
  </div>
</div>
  