<!-- buttons -->
<div class="container">
    <div class="d-flex justify-content-center align-content-center my-3">
        <button class="btn btn-light mx-1" routerLink="/admin/invoice">Back</button>
        <button class="btn btn-light mx-1">Approve</button>
        <button class="btn btn-light mx-1"  >Deny</button>
    </div>
    <div class="web1 shadow">
        <iframe
            src="'pdfsrc'"
            width="100%"
            height="100%"
        >
        </iframe>
     </div>
</div>
