.margin{
  margin-top: 2%;
}
button{
    margin-top: 2%;
    margin-right: 1%;
}
.navigation{text-align: center;
}
.comment{
    margin-top: 2%;
}
a{
    text-decoration: none;
    color: black;
}
.invo{
    margin-top: 3%;
    width: 100%;
    height: 100vh;
}