<div class="container-fluid">
<!-- invoice  -->
  <div class="container ">
    <!-- invoice -->
    <div class="row mt-5">
      <iframe class="col-10 m-auto invo shadow py-3" [src]="safeUrl" frameborder="1"></iframe>
    </div>
    <!-- buttons -->
    <div class="row my-2">
      <div class="navigation">
        <button class="btn btn-light" (click)="fnPay()">Pay</button>
        <button
          class="btn btn-light"
          data-bs-toggle="collapse"
          data-bs-target="#collapseExample"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          Comment
        </button>
      </div>
      <div class="comment">
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <div class="form-floating">
              <textarea
                class="form-control"
                placeholder="Leave a comment here"
                id="floatingTextarea2"
                style="height: 100px"
              ></textarea>
              <label for="floatingTextarea2">Comments</label>
            </div>
            <div class="navigation">
              <button class="btn btn-light">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
