<div class="container-fluid">
  <div class="row">
    <div class="bg-white border-bottom mb-4 pt-4 pb-2">
      <div class="container">
        <div class="row">
          <h1 class="fs-5 text-dark">
            <span class="fw-lighter"
              ><i class="fa-solid fa-file-pdf"></i>
            </span>
            Workorder Generation
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="navigation d-flex justify-content-start">
      <button class="btn btn-light" routerLink="/admin/dashboard">Back</button>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-light">
          <h1>New Work Order</h1>
        </div>
        <div class="card-body">
          <form [formGroup]="workOrderForm" (ngSubmit)="onSubmit()">
            <div class="row p-5">
              <div class="mb-3 col-md-6 col-12">
                <label for="p_name" class="form-label">Partner Name</label>
                <input
                  class="form-control"
                  formControlName="p_name"
                  type="text"
                  name="p_name"
                />
                <span class="text-danger"
                            *ngIf="(workOrderFormControl.p_name.touched || isSubmitted) && workOrderFormControl.p_name.errors?.['required']">
                           Partner name is required 
                        </span>
                <span class="text-danger" *ngIf="workOrderFormControl.p_name.errors?.['minlength']">
                          Partner name should have minimum 3 letters
                 </span> 
                 <span class="text-danger" *ngIf="workOrderFormControl.p_name.errors?.['pattern']">
                   Only alphabets ,space and . allowed
               </span>
              </div>
              <div class="mb-3 col-md-6 col-12">
                <label for="p_id" class="form-label">Partner Id</label>
                <input
                  class="form-control"
                  formControlName="p_id"
                  type="text"
                  name="p_id"
                />
                <span class="text-danger"
                            *ngIf="(workOrderFormControl.p_id.touched || isSubmitted) && workOrderFormControl.p_id.errors?.['required']">
                           Partner Id is required 
                        </span>
              </div>
              <div class="mb-3 col-md-8 col-12">
                <label for="tp_name" class="form-label"
                  >Training Program Name</label
                >
                <input
                  class="form-control"
                  formControlName="tp_name"
                  type="text"
                  name="tp_name"
                />
                <span class="text-danger"
                *ngIf="(workOrderFormControl.tp_name.touched || isSubmitted) && workOrderFormControl.tp_name.errors?.['required']">
             Training Program name is required
            </span>
              </div>
              <div class="mb-3 col-md-4 col-12"></div>
              <div class="mb-3 col-md-12 col-12">
                <label for="t_topics" class="form-label">Training topics</label>
                <input
                  class="form-control"
                  formControlName="t_topics"
                  type="text"
                  name="t_topics"
                />
                <span class="text-danger"
                            *ngIf="(workOrderFormControl.t_topics.touched || isSubmitted) && workOrderFormControl.t_topics.errors?.['required']">
                         Training topics required
                        </span>
              </div>
              <div class="mb-3 col-md-6 col-12">
                <label for="t_date" class="form-label">Training date</label
                ><br />
                <mat-form-field appearance="legacy">
                  <mat-label>Choose Date</mat-label>
                  <mat-date-range-input [rangePicker]="picker">
                    <input
                      matStartDate
                      formControlName="start"
                      placeholder="Start Date"
                      name="start"
                    />
                    <input
                      matEndDate
                      formControlName="end"
                      placeholder="End Date"
                      name="end"
                    />
                  </mat-date-range-input>
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                  <mat-error *ngIf="workOrderFormControl.start.errors?.['required']"> From Date Required</mat-error>
                  <mat-error *ngIf="workOrderFormControl.end.errors?.['required']">To Date Required</mat-error>
 
                </mat-form-field>
              </div>
              <div class="mb-3 col-md-6 col-12">
                <label for="t_mode" class="form-label">Training mode</label>
                <select class="form-control mb-3" formControlName="t_mode">
                  <option value="">Choose a training mode</option>
                  <option
                    *ngFor="let modes of trainingMode"
                    value="{{ modes }}"
                  >
                    {{ modes }}
                  </option>
                </select>
                <span class="text-danger"
                *ngIf="(workOrderFormControl.t_mode.touched || isSubmitted) && workOrderFormControl.t_mode.errors?.['required']">
           Please select a training mode
            </span>
              </div>
              <div class="mb-3 col-md-12 col-12">
                <p><b>Tax Details</b></p>
                <p>
                  As per Government of India policy it is now mandatory to use
                  GST number if your income is above 20lakhs. However, even if
                  you do not have GST number you have to declare it. Kindly
                  check below to update
                </p>
                <div class="d-flex justify-content-start align-content-start">
                  <div class="form-check">
                    <input
                      (change)="radioChangeHandler($event)"
                      value="GST"
                      id="tax"
                      class="form-check-input"
                      type="radio"
                      name="taxControl"
                      formControlName="taxControl"
                    />
                    <label class="form-check-label pr-5" for="tax"> GST</label>
                  </div>
                  <div class="form-check">
                    <input
                      (change)="radioChangeHandler($event)"
                      value="TDS"
                      id="tax"
                      class="form-check-input"
                      type="radio"
                      name="taxControl"
                      formControlName="taxControl"
                    />
                    <label class="form-check-label" for="tax">TDS</label>
                  </div>
                </div>
                <div
                  *ngIf="selectedTaxType === 'GST'"
                  class="col-md-4 col-4 mt-3"
                >
                  <label for="GST" class="form-label">GST Number</label>
                  <input
                    class="form-control"
                    formControlName="GST"
                    type="text"
                    name="GST"
                  />
                 <span class="text-danger" *ngIf="workOrderFormControl.GST.errors?.['pattern'] ">Invalid GST Number</span>
                 <span class="text-danger" *ngIf="workOrderFormControl.GST.errors?.['minlength']">
                    - GST number contains 15 characters
                 </span> 
              
                </div>
                <span class="text-danger"
                *ngIf="(workOrderFormControl.taxControl.touched || isSubmitted) && workOrderFormControl.taxControl.errors?.['required']">
          Please select a tax type
            </span>  
              </div>
              <div class="mb-3 col-md-6 col-12">
                <label for="pan_no" class="form-label">Pancard Number</label>
                <input
                  class="form-control"
                  formControlName="pan_no"
                  type="text"
                  name="pan_no"
                />
                <span class="text-danger"
                *ngIf="(workOrderFormControl.pan_no.touched || isSubmitted) && workOrderFormControl.pan_no.errors?.['required']">
         Pan number must be filled
            </span> 
            <span class="text-danger" *ngIf="workOrderFormControl.pan_no.errors?.['minlength']">
                Invalid pan number
           </span> 
               <span class="text-danger" *ngIf="workOrderFormControl.pan_no.errors?.['pattern']">
                            Invalid pan number
              </span> 
              </div>
              <div class="mb-3 col-md-6 col-12">
                <label for="pan_no" class="form-label">Amount per hour</label>
                <input
                  class="form-control"
                  formControlName="amount"
                  type="text"
                  name="amount"
                />
                <span class="text-danger"
                *ngIf="(workOrderFormControl.amount.touched || isSubmitted) && workOrderFormControl.amount.errors?.['required']">
        Enter amount per hour
            </span> 
              </div>
              <div class="mb-3 col-md-12 col-12">
                <label for="pay_terms" class="form-label">Payment Terms</label>
                <input
                  class="form-control"
                  formControlName="pay_terms"
                  type="text"
                  name="pay_terms"
                />
                <small
                  >Mention Advance payment, tax inclusive/exclusive etc</small
                ><span class="text-danger"
                            *ngIf="(workOrderFormControl.pay_terms.touched || isSubmitted) && workOrderFormControl.pay_terms.errors?.['required']">
                 Required field
                        </span> 
              </div>
              <div class="d-grid gap-2 col-6 mx-auto">
                <button
                  type="submit"
                  value="Submit"
                  class="btn btn-lg btn-primary"
                  [disabled]="!workOrderForm.valid"
                >
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
