<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
    <div class="logo-container">
        <!-- <button class="logo" (click)="toggleCollapse()">A</button> -->
        <img class="logo" (click)="toggleCollapse()" src="/assets/images/logo.png">
        <div class="logo-text" @fadeInOut *ngIf="collapsed">ICTAK</div>
        <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" [routerLink]="[data.routeLink]" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                    {{data.label}}
                </span>
            </a>
        </li>
        <li class="sidenav-nav-item" *ngIf="role==='superadmin'">
            <a class="sidenav-nav-link" routerLink="/admin/user/approve" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <i class="sidenav-link-icon fal fa-user-check"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                    Approve User
                </span>
            </a>
        </li>
        <li class="sidenav-nav-item">
            <a class="sidenav-nav-link" (click)="logout()" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <i class="sidenav-link-icon fal fa-arrow-right-from-bracket"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                    Logout
                </span>
            </a>
        </li>
    </ul>
</div>
<div class="body" [ngClass]="getBodyClass()">
    <router-outlet></router-outlet>
</div>