<div class="main">
  <section class="signupdetails">
    <h1 class="titlename">Signup</h1>
    <div class="container">
      <form
        class="signup-form row"
        #signupform="ngForm"
        (ngSubmit)="onSignup()"
      >
        <div class="form-group col-lg-12">
          <div class="form-field">
            <input
              type="text"
              class="input-text form-control"
              [(ngModel)]="signupData.fullname"
              name="fullname"
              id="fullname"
              #fullnameField="ngModel"
              pattern="^[a-zA-z\ ]+$"
              [class.is-invalid]="
                fullnameField.invalid && fullnameField.touched
              "
              minlength="3"
              maxlength="30"
              required
            />
            <label for="fullname" class="label">fullname</label>
          </div>
          <div>
            <small
              for="fullname"
              id="fullnamefeedback"
              class="text-danger"
              [class.invisible]="fullnameField.valid || fullnameField.untouched"
              >*no number and symbol allowed. Limit (3-30).</small
            >
          </div>
        </div>
        <div class="form-group col-lg-6">
          <div class="form-field">
            <input
              type="text"
              class="input-text"
              class="input-text form-control"
              [(ngModel)]="signupData.uname"
              name="uname"
              id="uname"
              #usernameField="ngModel"
              pattern="^[A-Za-z0-9]*$"
              [class.is-invalid]="
                usernameField.invalid && usernameField.touched
              "
              minlength="5"
              maxlength="10"
              required
            />
            <label for="username" class="label">username</label>
          </div>
          <div>
            <small
              for="uname"
              id="unamefeedback"
              class="text-danger"
              [class.invisible]="usernameField.valid || usernameField.untouched"
              >*only alphabets and numbers are allowed. Limit (5-10)
            </small>
          </div>
        </div>
        <div class="form-group col-lg-6">
          <div class="form-field">
            <input
              type="email"
              class="input-text form-control"
              [(ngModel)]="signupData.email"
              name="email"
              type="email"
              id="email"
              [class.is-invalid]="emailField.invalid && emailField.touched"
              #emailField="ngModel"
              pattern="^([\w\.\-]+)@([\w\-]+).([a-z]{2,4})(.[a-z]{2,4})*$"
              required
            />
            <label for="email" class="label">email</label>
          </div>
          <div>
            <small
              for="email"
              id="emailfeedback"
              class="text-danger"
              [class.invisible]="emailField.valid || emailField.untouched"
              >*Enter valid e-mail id.</small
            >
          </div>
        </div>
        <div class="form-group col-lg-6">
          <div class="form-field">
            <input
              type="password"
              class="input-text form-control"
              id="pwd"
              #passwordField="ngModel"
              [(ngModel)]="signupData.pwd"
              name="pwd"
              autocomplete="on"
              [class.is-invalid]="
                passwordField.invalid && passwordField.touched
              "
              pattern="^(?=.{6,}$)(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).*$"
              minlength="6"
              required
            />
            <label for="password" class="label">password</label>
          </div>
          <small
            for="pwd"
            id="pwdfeedback"
            class="text-danger"
            [class.invisible]="passwordField.valid || passwordField.untouched"
            >minimum 6 character,atleast one uppercase ,one lowercase, atleast
            one number.
          </small>
        </div>
        <div class="form-group col-lg-6">
          <div class="form-field">
            <select
              class="input-text"
              id="position"
              name="position"
              required
              [(ngModel)]="signupData.post"
              #posts="ngModel"
            >
              <option value="">- select -</option>
              <option *ngFor="let post of positions" [value]="post">
                {{ post }}
              </option>
            </select>
            <label class="label">position</label>
          </div>
          <div>
            <small
              for="position"
              id="positionfeedback"
              class="text-danger"
              [class.invisible]="posts.valid || posts.untouched"
              >*Please select a position</small
            >
          </div>
        </div>
        <div class="form-group col-lg-6">
          <div class="form-field">
            <input
              type="text"
              class="input-text form-control"
              [(ngModel)]="signupData.compname"
              name="compname"
              id="compname"
              #compnameField="ngModel"
              [class.is-invalid]="
                compnameField.invalid && compnameField.touched
              "
              required
            />
            <label for="fullname" class="label">company name</label>
          </div>
          <div>
            <small
              for="compname"
              id="compnamefeedback"
              class="text-danger"
              [class.invisible]="compnameField.valid || compnameField.untouched"
              >*company name required.
            </small>
          </div>
        </div>
        <div class="col-lg-6 form-group">
          <div class="form-field">
            <input
              type="text"
              placeholder="XXX XXX XXXX"
              id="phoneNo"
              class="input-text form-field"
              class="input-text form-control"
              #phoneField="ngModel"
              [(ngModel)]="signupData.phoneNo"
              name="phoneNo"
              type="tel"
              aria-describedby="materialRegisterFormPasswordHelpBlock"
              [class.is-invalid]="phoneField.invalid && phoneField.touched"
              pattern="^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$"
              required
            />
            <label for="phonenumber" class="label">phone number</label>
          </div>
          <small
            for="phoneNo"
            id="phonefeedback"
            class="text-danger"
            [class.invisible]="phoneField.valid || phoneField.untouched"
            >Please enter a valid 10 digit mobile number in any of these format
            (XXXXXXXXXX) or (XXX-XXX-XXXX) or (XXX.XXX.XXXX) or (XXX XXX XXXX)
          </small>
        </div>
        <div class="form-field col-lg-12 d-flex justify-content-center">
          <button
            type="submit"
            [disabled]="signupform.form.invalid"
            id="signup"
            name="signup"
            class="btn btn-primary btn-lg"
          >
            Signup
          </button>
        </div>

        <div class="text sign-up-text d-flex justify-content-center">
          Already have an account?
          <a
            class="fw-bold"
            routerLink="/login"
            style="color: rgb(64, 123, 255); margin-left: 5px"
            for="Login"
            >Login now</a
          >
        </div>
      </form>
    </div>
  </section>
</div>
<!--fullname : ^[a-zA-z\ ]+$ -->
<!-- username: ^[A-Za-z0-9]*$ -->
<!-- password: pattern="^(?=.{6,}$)(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).*$" -->
