<div class="vh-100">
<div class="container-fluid">
    <div class="row">
        <div class="bg-info py-5">
            <div class="container">
                <div class="row">
                    <h1 class="text-light"><span class="fw-lighter"><i class="fa-solid fa-chart-line"></i> </span> Dashboard</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a routerLink="/admin/dashboard"><i class="fa-solid fa-home"></i></a></li>
                        </ol>
                      </nav>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container margin">
    <div class="row">
        <div class="card">
            <div class="card-body h-100 d-flex flex-column justify-content-center py-5 py-xl-4">
                <div class="row align-items-center">
                    <div class="col-xl-8 col-xxl-12">
                        <h1 class="fs-3 pb-3">Welcome to ICT Academy Kerala!</h1>
                        <p>ICT Academy of Kerala (ICTAK) is a social enterprise officially launched on the 24th of June, 2014. The organization had a humble beginning providing skill training programs to selected academic institutions. </p>
                    </div>
                    <div class="col-xl-4 col-xxl-12 text-center">
                        <img src="/assets/images/office.png" alt="admin" class="img-fluid"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-lg-3 col-6 "><a routerLink="/admin/generate/workorder" class="text-decoration-none">
            <div class="small-box bg-aqua rounded">
                <div class="inner">
                    <h3 class="fs-2 fw-bold text-light">Generate</h3>
                    <p class="fs-3 text-light">Work Order</p>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-file-pdf"></i>
                </div>
                    <a routerLink="/admin/generate/workorder" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </a>
        </div>
        <div class="col-lg-3 col-6 ">
            <a routerLink="/admin/invoice" class="text-decoration-none">
            <div class="small-box bg-success rounded">
                <div class="inner">
                    <h3 class="fs-2 fw-bold text-light">Invoice</h3>
                    <p class="fs-3 text-light">List</p>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-file-invoice"></i>
                </div>
                    <a routerLink="/admin/invoice" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
            </a>
        </div>
        <div class="col-lg-3 col-6 ">
            <a routerLink="/admin/workorder" class="text-decoration-none">
            <div class="small-box bg-warning rounded">
                <div class="inner">
                    <h3 class="fs-2 fw-bold text-light">Workorder</h3>
                    <p class="fs-3 text-light">List</p>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-file-lines"></i>
                </div>
                    <a routerLink="/admin/workorder" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
            </a>
        </div>
        <div class="col-lg-3 col-6 ">
            <a routerLink="/admin/payment" class="text-decoration-none">
            <div class="small-box bg-danger rounded">
                <div class="inner">
                    <h3 class="fs-2 fw-bold text-light">Payment</h3>
                    <p class="fs-3 text-light">remittance </p>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-money-check"></i>
                </div>
                    <a routerLink="/admin/payment" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
            </a>
        </div>
    </div>
</div>
</div>
    