<div class="container-fluid">
  <!-- invoices list -->
  <div class="container mt-4">
    <div id="heading">
      <h3><b>Invoices</b></h3>
    </div>
    <div class="card">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Work Order No</th>
            <th scope="col">Invoice No</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let invoice of invoices"
          >
            <td data-label="Work Order No">{{ invoice.woid }}</td>
            <td data-label="Invoice No">{{ invoice.invono }}</td>
            <td data-label="Status">{{ invoice.invoice_status }}</td>
            <td>
              <i
                class="fa-solid fa-list-ul"
                style="color: black; cursor: pointer"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                title="Details"
                (click)="detailedView(invoice)"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
