<div class="main">
    <div
      class="left"
      data-aos="zoom-out-down"
      data-aos-easing="linear"
      data-aos-duration="1000"
    >
      <h1 style="font-size:xx-large; font-weight: bold;">Build your Career with ICTAK</h1>
      <p style="font-size: large;">
        ICT Academy of Kerala (ICTAK) is a social enterprise officially launched
        on the 24th of June, 2014. The organization had a humble beginning
        providing skill training programs to selected academic institutions. Over
        the years, ICTAK has grown to a prime service provider of all ICT and
        innovation-related training and capacity-building programs in the state.
      </p>
    </div>
    <div
      data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1000"
    >
      <img class="right" src="/assets/images/homeimage1.png" alt="" />
    </div>
  </div>
  