.main {
    min-height: 100vh;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    background-image: url("../../../../assets/images/homebg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .right {
    width: 500px;
  }
  .left {
    width: 50%;
    display: flex;
    flex-flow: wrap;
  }
  @media (max-width: 768px) {
    .left{
      margin-top: 5%;
    }
    .left h1 {
      font-size: 30px;
    }
    .left p {
      font-size: 15px;
    }
    .right {
      width: 250px;
    }
  }