<!-- blue banner -->
<div class="container-fluid">
  <div class="row">
    <div class="bg-info py-5">
      <div class="container">
        <div class="row">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/partner/dashboard"><i style="color: #000;" class="fa-solid fa-home"></i></a></li>
              <li class="breadcrumb-item"><a routerLink="/partner/workorder">Workorder</a></li>
              <li class="breadcrumb-item active">{{woid}}</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
<!-- work order -->
<div id="workorder" #workorder>
  <div class="container">
    <div class="row my-5">
      <div class="card p-5">
        <div class="card-header pt-2">
          <h1 class="text-center text-primary fw-bold">WORK ORDER</h1>
        </div>
        <div class="card-body">
          <div class="row d-flex align-middle border-bottom">
            <div class="col-6">
              <img src="{{ logo }}" alt="ICTAK" width="250" height="150" />
            </div>
            <div class="col-6 align-self-center d-flex justify-content-end">
              <span class="text-secondary">
                Workorder #: {{ workorders.woid }}<br />
                Issued Date: {{ workorders.issue_date | date: "mediumDate" }}
              </span>
            </div>
          </div>
          <div class="row my-4">
            <div class="col-12 col-md-6 fs-6">
              Partner Name: {{ workorders.partner_name }}<br />
              Partner Id: {{ workorders.partner_id }}<br />
              Pan Number: {{ workorders.panNo }}<br />
              <span *ngIf="workorders.GSTno"
                >GST No: {{ workorders.GSTno }}</span
              ><br />
            </div>
            <div
              class="col-12 col-md-6 fs-6 d-flex justify-content-end align-self-center"
            >
              Training Date: {{ workorders.date_start | date: "mediumDate" }} -
              {{ workorders.date_end | date: "mediumDate" }}<br />
            </div>
          </div>
          <div class="row my-4"><div class="col-11 m-auto">
            <div class="table-responsive">
              <table class="table table-bordered">
                <tbody>
                  <tr class="table-primary fs-5">
                    <th colspan="2">More details</th>
                  </tr>
                  <tr>
                    <td style="width:50%">Training Program Name :</td>
                    <td>{{ workorders.program_name }}</td>
                  </tr>
                  <tr>
                    <td>Training Topics :</td>
                    <td>{{ workorders.traning_topics }}</td>
                  </tr>
                  <tr>
                    <td>Training Mode :</td>
                    <td>{{ workorders.mode }}</td>
                  </tr>
                  <tr>
                    <td>Amount per hour :</td>
                    <td>{{ workorders.amount }}</td>
                  </tr>
                  <tr>
                    <td>Payment Terms :</td>
                    <td>{{ workorders.payterms }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   
  </div>
</div>

<!-- button -->
<div class="row my-2">
  <div class="navigation">
    <button (click)="generatePDF()" class="btn btn-primary"><i class="fa fa-download"></i> Download</button>
    <button class="btn btn-light ml-2" routerLink="/partner/invoice">Submit Inovice</button>
  </div>
</div>
</div>
