<div class="container-fluid">
  <!-- blue banner -->
  <div class="row">
    <div class="bg-info py-5">
      <div class="container">
        <div class="row">
          <h1 class="text-light"><span class="fw-lighter"><i class="fa-solid fa-chart-line"></i></span> Dashboard</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/finance/dashboard"><i style="color: #000;" class="fa-solid fa-home"></i></a></li>
              <li class="breadcrumb-item">Workorder</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!-- each invoice -->
  <div class="container margin">
    <!-- buttons -->
    <div class="navigation">
      <button class="btn" routerLink="/finance/workorder">Back</button>
      <button class="btn">Approve</button>
      <button class="btn"  data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Deny</button>
    </div>
    <div class="comment">
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Comments</label>
          </div>
          <div class="navigation">
            <button class="btn">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- work order -->
  <div class="container margin">
    <div class="web1 shadow">
      <iframe
        src="https://getbootstrap.com/docs/5.1/components/breadcrumb/"
        width="100%"
        height="100%"
        >
      </iframe>
    </div>
  </div>
</div>
 