<div class="container">
  <!--profile view-->
  <div class="row">
    <div class="navigation mt-4 d-flex justify-content-center">
      <button class="btn btn-light" routerLink="/partner/dashboard">
        Back
      </button>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-light d-flex justify-content-center">
          <h1>Profile</h1>
        </div>
        <!-- view profile -->
        <div class="card-body" *ngFor="let i of profile">
          <form>
            <div class="row p-5">
              <div class="mb-3 col-md-6 col-12">
                <img
                  [src]="i.image"
                  alt=""
                  height="300px"
                  width="300px"
                  class="img-fluid"
                />
              </div>
              <div class="col-md-6 col-12">
                <div class="mb-3 col-md-6 col-12">
                  <label for="p_name" class="form-label">Partner Name :</label>
                  <span>{{ i.name }}</span>
                </div>
                <div class="mb-3 col-md-6 col-12">
                  <label for="username" class="form-label">Username : </label>
                  <span>{{ i.username }}</span>
                </div>
                <div class="mb-3 col-md-6 col-12">
                  <label for="password" class="form-label">Password :</label>
                  <span [hidden]="passw">{{ i.pwd }}</span>
                  <br />
                  <small class="ml-3" for=""
                    ><input type="checkbox" (click)="pass($event)" /> Show
                    Password</small
                  >
                </div>
                <div class="mb-3 col-md-6 col-12">
                  <label for="id" class="form-label">Partner Id :</label>
                  <span>{{ i.id }}</span>
                </div>
                <div class="mb-3 col-md-6 col-12">
                  <label for="email" class="form-label">Email Id :</label>
                  <span>{{ i.email }}</span>
                </div>
                <div class="mb-3 col-md-6 col-12">
                  <label for="pan" class="form-label">Pan Number :</label>
                  <span>{{ i.pan }}</span>
                </div>
                <div class="mb-3 col-md-6 col-12">
                  <label for="phno" class="form-label">Phone Number :</label>
                  <span>{{ i.phno }}</span>
                </div>
                <div class="mb-3 col-md-6 col-12">
                  <label for="company" class="form-label"
                    >Comapany Name :</label
                  >
                  <span>{{ i.company }}</span>
                </div>
                <div class="col-md-12 mt-3 d-flex justify-content-start">
                  <button
                    class="btn btn-lg btn-primary"
                    routerLink="/partner/profile/edit"
                  >
                    Edit
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- profile view end -->
    </div>
  </div>
</div>
