<div>
<!-- Footer -->
<footer
  class="text-center text-white"
  style="background-color: rgb(64, 123, 255)"
>
  <!-- Grid container -->
  <div class="container p-4">
    <a routerLink="/">
      <img src="/assets/images/logo.png" alt="" width="80" height="80"
    /></a>
    <!-- Section: Social media -->
    <section class="mb-4 pt-2">
      <!-- Facebook -->
      <a
        class="text-light pr-2"
        href="https://www.facebook.com/ictkerala/"
        target="_blank"
        ><i class="fa-brands fa-square-facebook"></i
      ></a>
      <!-- linkedin -->
      <a
        class="text-light faLinkedin pr-2"
        href="http://linkedin.com/company/ictkerala"
        target="_blank"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <!-- youtube -->
      <a
        class="text-light pr-2"
        href="https://www.youtube.com/user/ictkerala"
        target="_blank"
        ><i class="fa-brands fa-youtube"></i
      ></a>

      <!-- Instagram -->
      <a
        class="text-light"
        href="https://www.instagram.com/ictkerala/?hl=en"
        target="_blank"
        ><i class="fa-brands fa-instagram"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- location -->
    <div class="text-center p-1">
      <a
        class="text-white"
        href="https://www.google.com/maps/place/ICT+Academy+of+Kerala/@8.5565655,76.8819826,15z/data=!4m5!3m4!1s0x0:0x5a237b1a5fa40a39!8m2!3d8.5565655!4d76.8819826?shorturl=1"
        ><i
          class="fa-solid fa-location-dot text-white text-decoration-none"
        ></i>
        GF-1 Thejaswini Building, Technopark Rd, Thiruvananthapuram, Kerala
        695581</a
      >
    </div>
    <div class="text-center p-1">
      <a class="text-white" href="/">ICT Academy of Kerala.</a>is supported by
      Govt. of India , partnered by Govt. of Kerala and the IT industry.
    </div>
    <div class="text-center p-1">
      © 2022 Copyright:
      <a class="text-white" href="/">ICT Academy of Kerala.</a>All rights
      reserved.
    </div>
    <!-- location -->
  </div>
</footer>
<!-- Footer -->
</div>
