<!-- blue banner -->
<div class="container-fluid">
    <div class="row">
        <div class="bg-info py-5">
            <div class="container">
                <div class="row">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/finance/dashboard"><i class="fa-solid fa-home"></i></a></li>
                            <li class="breadcrumb-item" aria-current="page"><a routerLink="/finance/workorder">Work Order</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{woid}}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- buttons -->
<div class="container">
    <div class="navigation">
        <button class="btn" routerLink="/finance/workorder">Back</button>
        <button class="btn">Approve</button>
        <button class="btn"  data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Deny</button>
    </div>
    <div class="comment">
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Comments</label>
                </div>
                <div class="navigation">
                    <button class="btn">Submit</button>
                </div>
            </div>
          </div>
    </div>
</div>
<!-- work order -->
<div class="container mb-5">
    <div class="web1 shadow " >
        <iframe
            class="pdf"
            src="https://file-examples.com/storage/fe5467a6a163010b197fb20/2017/10/file-sample_150kB.pdf"
            width="100%"
            height="800px"
        >
        </iframe>
     </div>
</div>
