<div class="container-fluid">
  <!-- blue banner -->
  <div class="row">
    <div class="bg-info py-5">
      <div class="container">
        <div class="row">
          <h1 class="text-light"><span class="fw-lighter"><i class="fa-solid fa-chart-line"></i></span> Dashboard</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/finance/dashboard"><i style="color: #000;" class="fa-solid fa-home"></i></a></li>
              <li class="breadcrumb-item"><a routerLink="/finance/workorder">Workorder</a></li>
              <li class="breadcrumb-item active">{{eachWO.woid}}</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  
  <!-- work order -->
  <div class="container mb-5">
    <div id="workorder" #workorder>
      <div class="container">
        <div class="row my-5">
          <div class="card p-5">
            <div class="card-header pt-2">
              <h1 class="text-center text-primary fw-bold">WORK ORDER</h1>
            </div>
            <div class="card-body">
              <div class="row d-flex align-middle border-bottom">
                <div class="col-6">
                  <img src="{{ logo }}" alt="ICTAK" width="250" height="150" />
                </div>
                <div class="col-6 align-self-center d-flex justify-content-end">
                  <span class="text-secondary">
                    Workorder #: {{ eachWO.woid }}<br />
                    Issued Date: {{ eachWO.issue_date | date: "mediumDate" }}
                  </span>
                </div>
              </div>
              <div class="row my-4">
                <div class="col-12 col-md-6 fs-6">
                  Partner Name: {{ eachWO.partner_name }}<br />
                  Partner Id: {{ eachWO.partner_id }}<br />
                  Pan Number: {{ eachWO.panNo }}<br />
                  <span *ngIf="eachWO.GSTno">
                    GST No: {{ eachWO.GSTno }}
                  </span>
                  <br />
                </div>
                <div class="col-12 col-md-6 fs-6 d-flex justify-content-end align-self-center">
                  Training Date: {{ eachWO.date_start | date: "mediumDate" }} -
                  {{ eachWO.date_end | date: "mediumDate" }}<br />
                </div>
              </div>
              <div class="row my-4">
                <div class="col-11 m-auto">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <tbody>
                        <tr class="table-primary fs-5">
                          <th colspan="2">More details</th>
                        </tr>
                        <tr>
                          <td style="width:50%">Training Program Name :</td>
                          <td>{{ eachWO.program_name }}</td>
                        </tr>
                        <tr>
                          <td>Training Topics :</td>
                          <td>{{ eachWO.traning_topics }}</td>
                        </tr>
                        <tr>
                          <td>Training Mode :</td>
                          <td>{{ eachWO.mode }}</td>
                        </tr>
                        <tr>
                          <td>Amount per hour :</td>
                          <td>{{ eachWO.amount }}</td>
                        </tr>
                        <tr>
                          <td>Payment Terms :</td>
                          <td>{{ eachWO.payterms }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- buttons -->
  <div class="container">
    <div class="navigation">
      <button class="btn btn-light" (click)="fnApv(eachWO._id, eachWO.partner_name)">Approve</button>
      <button class="btn btn-light" (click)="fnDeny(eachWO._id)" >Deny</button>
    </div>
  </div>
</div>
