/* You can add global styles to this file, and also import other style files */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html, body { height: 100%; }
  body {
    padding-bottom: 56px;
    position: relative;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  #bg-navback{
    background-color: #263238;
    background-image: linear-gradient(to right, #263238 , #add8e6);
  }
  .bg-navbgm{
      background-color: #add8e6;
  }
  #btn-clr{
    background-color: #204a5f;
  }
