<nav class="navbar navbar-expand-lg bg-navbgm">
  <div class="container-fluid">
    <button
    class="navbar-toggler"
    type="button"
    data-mdb-toggle="collapse"
    data-mdb-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <i class="fas fa-bars"></i>
  </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link">
            <i class="fa-solid fa-user pt-1 pr-1"></i>
              {{role}}
          </a>
      </li>
        
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row mt-5">
    <h2 class="text-white p-2 pl-4" style="border-radius: 5px;" id="bg-navback">Workorder</h2>
  </div>
</div>
<div class="container">
  <div class="row my-5">
    <div class="col-12 col-md-4 mb-4" *ngFor="let workOrder of workorder">
      <a
        routerLink="{{ workOrder._id }}"
        class="text-decoration-none text-dark"
      >
        <div class="card">
          <div class="card-body">
            <p><b>Partner Name: </b>{{ workOrder.partner_name }}</p>
            <p><b>Training Program: </b>{{ workOrder.program_name }}</p>
            <p>
              <b>Training Date: </b
              >{{ workOrder.date_start | date: "mediumDate" }}
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
