<!-- blue banner -->
<div class="container-fluid">
  <div class="row">
    <div class="bg-info py-5">
      <div class="container">
        <div class="row">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="/finance/dashboard"
                  ><i class="fa-solid fa-home"></i
                ></a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Work Order
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- work order -->
<div class="container margin">
  <div>
    <h3>New Work Orders</h3>
  </div>
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Work Order No</th>
          <th scope="col">Assigned To</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let wo of workorder">
          <td *ngIf="wo.woid && wo.partner_name != ''" data-label="Work Order No">
            {{ wo.woid }}
          </td>
          <td *ngIf="wo.woid && wo.partner_name != ''" data-label="Assigned To">
            {{ wo.partner_name }}
          </td>
          <td *ngIf="wo.woid && wo.partner_name != ''" data-label="Amount">
            {{ wo.amount }}
          </td>
          <td *ngIf="wo.woid && wo.partner_name != ''">
            <i
              class="fa-solid fa-list-ul"
              style="cursor: pointer"
              (click)="detailedView(wo.woid)"
            ></i>
          </td>
          <td *ngIf="wo.woid && wo.partner_name != ''">
            <button class="btn" (click)="fnApv(wo._id)">Approve</button
            ><button class="btn" (click)="fnDeny(wo._id)">Deny</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
