<!-- blue banner -->
<div class="container-fluid">
    <div class="row">
        <div class="bg-info py-5">
            <div class="container">
                <div class="row">
                    <h1 class="text-light"><span class="fw-lighter"><i class="fa-solid fa-chart-line"></i></span> Dashboard</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a routerLink="/finance/dashboard"><i style="color: #000;" class="fa-solid fa-home"></i></a></li>
                        </ol>
                      </nav>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- welcome message -->
<div class="container margin">
    <div class="row">
        <div class="card">
            <div class="card-body h-100 d-flex flex-column justify-content-center py-5 py-xl-4">
                <div class="row align-items-center">
                    <div class="col-xl-8 col-xxl-12">
                        <h1 class="fs-3 pb-3">Welcome to ICT Academy Kerala!</h1>
                        <p>ICT Academy of Kerala (ICTAK) is a social enterprise officially launched on the 24th of June, 2014. The organization had a humble beginning providing skill training programs to selected academic institutions. </p>
                    </div>
                    <div class="col-xl-4 col-xxl-12 text-center">
                        <img src="/assets/images/office.png" alt="" class="img-fluid"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- links -->
<div class="container mb-5">
    <div class="row">
        <div class="card text-white bg-success mb-3 col-sm-3" routerLink="/finance/workorder">
            <div class="card-body">
              <h1 class="card-title">Approve</h1>
              <p class="card-text">Work order</p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-file-circle-check"></i>
            </div>
        </div>
        <div class="card text-white bg-danger mb-3 col-sm-3" routerLink="/finance/payment">
            <div class="card-body">
              <h1 class="card-title">Payment</h1>
              <p class="card-text">remittance details</p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-file-invoice-dollar"></i>
            </div>
        </div>
    </div>
</div>
